---
// TODO
---
<script>
    import Swiper from 'swiper';
    import { History } from 'swiper/modules'
    import 'swiper/css';

    const swiper = new Swiper('.swiper', {
        modules: [History],
        loop: true,
        grabCursor: true,
        history: {
            replaceState: true,
        },
        keyboard: true,
        slideToClickedSlide: true,
        slidesPerView: 3,
        centeredSlides: true,
        slidesOffsetBefore: 60,
        slidesOffsetAfter: 60,
    });
</script>

<!-- Slider main container -->
<div class="swiper">
  <!-- Additional required wrapper -->
  <div class="swiper-wrapper">
    <!-- Slides -->
    <div class="swiper-slide">Slide 1</div>
    <div class="swiper-slide">Slide 2</div>
    <div class="swiper-slide">Slide 3</div>
    ...
  </div>
  <!-- If we need pagination -->
  <div class="swiper-pagination"></div>

  <!-- If we need navigation buttons -->
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>

  <!-- If we need scrollbar -->
  <div class="swiper-scrollbar"></div>
</div>
