---
import Artwork from "./Artwork.astro";

const { posts } = Astro.props;
// console.log(posts);

---
<script>
    import Swiper from 'swiper/bundle';
    import { History, Scrollbar, Keyboard, A11y } from 'swiper/modules'
    import 'swiper/css/bundle';

    const swiper = new Swiper('.swiper', {
        modules: [History, Scrollbar, Keyboard, A11y],
        slidesPerView: 2.5,
        loop: true,
        centeredSlides: true,
        centerInsufficientSlides: true,
        spaceBetween: 30,
        initialSlide: 3,
        scrollbar: {
            draggable: true,
        },
        mousewheel: true,
        keyboard: true,
        // slideToClickedSlide: true,
        // slidesOffsetBefore: 30,
        // slidesOffsetAfter: 30,
    });
</script>

<div class="swiper">
    <div class="swiper-wrapper">
        {posts.map(post => (
            <div class="swiper-slide">
                <Artwork id={post} />
            </div>
        ))}
  </div>
</div>

<style lang="scss">

    .swiper-slide{
        // min-width: 50vw;
        // max-width: 80vw;

        &-next{
            &:hover{
                cursor: url("http://localhost:4321/images/arrow.svg");
            }
        }
        &-next, &-prev{
            opacity: .5;
        }

    }
</style>