---
// Components
import Head from '../components/global/Head.astro';
import ColorModeToggle from '../components/global/ColorModeToggle.astro';


interface Props {
	title: string;
	description: string;
	share_image: string;
}


const { title, description, share_image } = Astro.props;

import '../styles/style.scss';
---

<!doctype html><html lang="en" transition:animate="none">
	<Head title={title} description={description} share_image={share_image}/>
	<body>
        <header>
            <a class="close" href="/" data-back-to-home>close<a/>
            <ColorModeToggle className="flex-item"/>
        </header>
		<slot  transition:animate="fade" />
	</body>
</html>

<script>

    function goBack (e) {
        if (history.length > 1) {
				e.preventDefault()
				history.back()
			} else {
                e.preventDefault();
                document.location.href = "/";
        }
    }

    document.addEventListener("astro:page-load", () => {
        const backButton = document.querySelector('[data-back-to-home]');
        document.body.addEventListener('keydown', (e) => {
            if (e.key === 'Escape') {
                goBack(e);
            }
        });

        backButton?.addEventListener('click', (e) => {
            goBack(e);
        });
    });
    
    // import { supportsViewTransitions } from 'astro:transitions/client';
	// if (supportsViewTransitions) {
	// 	document.addEventListener('astro:page-load', callback)
	// } else {
	// 	callback()
	// }
	// function callback() {
	// 	const backButton = document.querySelector('[data-back-to-home]');
	// 	const fromFeed = localStorage.getItem('cameFromFeed')
	// 	localStorage.removeItem('cameFromFeed')

    //     document.body.addEventListener('keydown', (e) => {
    //         console.log(e);
    //         if (e.key === 'Escape') {
    //             goBack(e);
    //         }
    //     });

	// 	backButton?.addEventListener('click', (e) => {
	// 		goBack(e);
	// 	})
	// }
</script>


<style lang="scss">

@use "../styles/base/vars" as *;
@use "../styles/base/mixins" as *;
@use "../styles/base/typography" as *;

header{
	position: fixed;
	top: .6rem;
	right: .6rem;
    z-index: 1;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;

	.close{
		text-decoration: none;
        padding-left: 1rem;
        cursor: pointer;
        
		&:hover{
			text-decoration: underline;
		}
	}
}
	 
</style>