---
// Components
import Head from '../components/global/Head.astro';
import ColorModeToggle from '../components/global/ColorModeToggle.astro';

// Import
import { fade } from "astro:transitions";
import { getEntry } from 'astro:content';

interface Props {
	title: string;
	description: string;
	share_image: string;
}


const { title, description, share_image } = Astro.props;

import '../styles/style.scss';

---

<!doctype html>
<html lang="en" transition:name="root" transition:animate="none">
	<Head title={title} description={description} share_image={share_image}/>
	<body>
		<header>
			<a class="close" href="/cassandraopeia" data-back-to-home>close<a/>
		</header>
		<ColorModeToggle/>
		<slot  transition:animate="fade" />
	</body>
</html>

<script>
	import { supportsViewTransitions } from 'astro:transitions/client';
	if (supportsViewTransitions) {
		document.addEventListener('astro:page-load', callback)
	} else {
		callback()
	}

	function callback() {
		const backButton = document.querySelector('[data-back-to-home]')
		const fromFeed = localStorage.getItem('cameFromFeed')
		localStorage.removeItem('cameFromFeed')

		backButton?.addEventListener('click', (e) => {
			if (fromFeed && history.length > 1) {
				e.preventDefault()
				history.back()
			}
		})
	}
</script>


<style lang="scss">

@use "../styles/base/vars" as *;
@use "../styles/base/mixins" as *;
@use "../styles/base/typography" as *;

header{
	position: fixed;
	top: 1.1rem;
	right: 3.5rem;

	.close{
		text-decoration: none;
		&:hover{
			text-decoration: underline;
		}
	}
}
	 
</style>