@use "../base/vars" as *;
@use "../base/mixins" as *;
@use "../base/typography" as *;

// general ---------------------------------------------------------------------
html {
    background-color: var(--color-background);
    color: var(--color-foreground);
    // font-size: var(--text-size);
    transition: background-color 0.85s easeout;
    transition: color 0.1s ease-in-out;
    @include text;

    &.dark,
    &[data-theme="dark"] {
        --color-background: var(--color-dark-primary);
        --color-foreground: var(--color-light-primary);
        .moon {
            opacity: 0;
            display: none;
        }
        .sun {
            opacity: 1;
            display: block;
            filter: invert(100%);
        }
    }
}

body {
    @include text;
}

::selection {
    background-color: var(--color-foreground);
    color: var(--color-background);
}

p,
ul,
ol,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;

    &:where(:last-child) {
        margin-bottom: 0;
    }
}

::selection {
    background-color: var(--color-accent-1);
}

// text ------------------------------------------------------------------------

p {
    margin: 0.5rem 0 0.8rem;
    @include text;
}

h1,
.heading-1 {
    margin: 0.1875em 0 0.675em;
    @include text-h1;
}
h2,
.heading-2 {
    margin: 0.1875em 0 0.5rem;
    @include text-h2;
    img {
        height: 2.333em;
        width: auto;
        padding: 0.5em 0 0;
        margin-bottom: -0.777em;
    }
}
h3,
.heading-3 {
    margin: 1.5rem 0 0.5rem;
    @include text-h3;
}
h4,
.heading-4 {
    @include text-h4;
}

small {
    @include text-small;
}
abbr {
    text-decoration: none;
}

del {
    color: var(--text-secondary);
    text-decoration-thickness: 2px;
}
ins {
    text-decoration: none;
    display: inline-block;
    margin-left: 0.2em;
}

img {
    color: var(--color-background);
}

// link ------------------------------------------------------------------------
a {
    color: inherit;
    @media (hover: hover) and (pointer: fine) {
        &:hover {
            text-decoration: none;
        }
    }
}

// content ---------------------------------------------------------------------

.content {
    strong {
        font-weight: 600;
    }
    .image {
        max-width: 100%;
        height: auto;
    }
}
.content,
.page-title {
    max-width: var(--main-max-width);
    margin-right: auto;
    margin-left: auto;
}

// media -----------------------------------------------------------------------
figure {
    margin: 2.15em 0;

    @include is-phone {
        margin: 1.7em 0;
    }
}
figcaption {
    @include text-small;
    margin-top: 0.4em;

    @include is-phone {
        margin-top: 0.3em;
    }
}

iframe {
    max-width: 100%;
    border: none;
}
