@use "vars" as *;

// Media queries ======================================================

@mixin is-min-desktop {
    @media screen and (min-width: $media-desktop) {
        @content;
    }
}

@mixin is-max-sm-laptop {
    @media screen and (max-width: $media-sm-laptop) {
        @content;
    }
}

@mixin is-max-tablet {
    @media screen and (max-width: $media-tablet) {
        @content;
    }
}

@mixin is-phone {
    @media screen and (max-width: $media-phone) {
        @content;
    }
}

@mixin is-mini {
    @media screen and (max-width: $media-mini) {
        @content;
    }
}
