@use "vars" as *;
@use "mixins" as *;


// Font family -------------------------------------------------------------------

@font-face {
	font-family: 'NimbusSans';
	src: url('/fonts/nimbus-sans-l/NimbusSanL-Reg') format('otf');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'NimbusSans';
	src: url('/fonts/nimbus-sans-l/NimbusSanL-Bol') format('otf');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'NimbusSans';
	src: url('/fonts/nimbus-sans-l/NimbusSanL-Ita') format('otf');
	font-weight: normal;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'NimbusSans';
	src: url('/fonts/nimbus-sans-l/NimbusSanL-BolIta') format('otf');
	font-weight: bold;
	font-style: italic;
	font-display: swap;
}

// Font sizes -------------------------------------------------------------------

@mixin text {
	font-family: 'Nimbus Sans', system-ui, sans-serif;
	font-size: 1.125rem;
	line-height: 124%;

	@include is-phone{
		font-size: 1rem;
	}
}
@mixin text-small{
	font-size: .88rem;
}
@mixin text-h1{
	font-size: 1.5rem;
	line-height: 118%;
	font-weight: normal;
}
@mixin text-h2{
	font-size: 1.4rem;
	line-height: 108%;
	font-weight: normal;
}
@mixin text-h3{
	font-size: 1.25rem;
	line-height: 112%;
	font-weight: normal;
	
}
@mixin text-h4{
	font-size: 1.1rem;
	line-height: 118%;
	
}

@mixin text-button{
	font-size: 1.0625rem;
	font-weight: normal;
	letter-spacing: -2%;
	line-height: 100%;
}

