// Colors ----------------------------------------------------------------------
// Set your color palette here
:root {
    --color-dark-primary: #0f0f0f;
    --color-dark-secondary: #000000;
    --color-light-primary: #f3f3f3;
    --color-light-secondary: #bcd7f1;
    --color-accent-1: #70b1ec;
    --color-accent-2: #346a9c;
    --color-accent-3: #346a9c;

    --color-background: var(--color-light-primary);
    --color-foreground: var(--color-dark-primary);
    --color-link: #0e41a5;

    color-scheme: dark light;
}

// Text ------------------------------------------------------------------------
// Set base text size and line-height here (for relative padding, etc.)
// See typography.scss for font and heading sizes
:root {
    --text-size: 16px;
    --text-lineheight: 130%;
    --border: 1px solid var(var(--color-foreground));
    --border-dotted: 1px dotted var(--color-foreground);
}

// Media -----------------------------------------------------------------------
// Media queries are how the website is responsive to different screen widths.
// Customize the variables for the breakpoints if needed
:root {
    --media-mini: 360px; // m
    --media-phone: 480px; // sm
    --media-tablet: 640px; // md
    --media-sm-laptop: 840px; // lg
    --media-laptop: 1024px; // xl
    --media-desktop: 1440px; // xl
}

// Other  -----------------------------------------------------------------------
:root {
    --border-radius: 0.375rem;
    --main-max-width: 840px;
    --margin-x: 1rem;
    --padding-x-desktop: 5rem;
    --padding-x-tablet: 2.5rem;
    --padding-x-mobile: 1.5rem;
    --column-count: 12;
    --column-margin: 5rem;
    --column-gap: 1.875rem;
    @media screen and (max-width: 839px) {
        --column-gap: 1rem;
    }
}
