---
import Navigation from './Navigation.astro';
import { Image } from 'astro:assets';

import logo from '../../images/global/cassandra.png';

---
<header>
	<a class="logo" href="/">
		<Image src={logo} alt="Cassandra" width="131" height="21" loading="eager"/>
	</a>
	<nav class="nav-links">
		<Navigation />
  	</nav>
</header>

<style lang="scss" is:global>
	@use "../../styles/base/typography" as *;

	header {
		max-width: 800px;
		display: flex;
		flex-direction: column;
		align-items: center;

		margin: 0 auto;
		padding: 1.111rem 1.111rem;
	}

	.logo {
		display: block;
		text-align: center;
		margin: 0 auto .333rem;
	}

	.dark .logo img,
    [data-theme="dark"] .logo img{
			filter: invert(100%);
	}

	.nav-links {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
		> a {
            line-height: 122%;
			color: var(--color-foreground);
			text-decoration: none;
			padding: .6rem 1.75rem;
			margin: 0 -.5rem;
			border: 2.22px solid transparent;
			border-radius: 100%;
			transition: border 1s ease-out;
			&:hover{
				border: 2.22px solid var(--color-foreground);
			}
			&.active{
				border: 2.22px solid var(--color-foreground);
			}
            @media screen and (max-width: 479px){
                margin: 0 -.444rem;
                padding: .6rem 1.222rem;
            }
		}
	}
</style>
